/* Media Query */
@media screen and (max-width: 959px) {
    .first{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    h2{
        margin-left: 10px;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: white;
    }
    .first p{
        margin-left: 10px;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: white;
        text-align: left;
        margin-top: 10px;
        text-align: center;
    }
    .second{
        flex-wrap: wrap-reverse;
        
    }
    .fourth{
        flex-wrap: wrap-reverse;
    }
    
    .footer1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
    
    .email2{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .end-btn{
        display: flex;
        
    }
   
    .email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

    }
    .btn-get{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        

    }
    .btn-get img{
        margin-left: 1px;
        vertical-align: middle;
    }
    .bgimgtext h1{
        font-weight: 700;
    font-size: 32px;
    }
    .bgimgtext p:nth-of-type(1){
        font-weight: 400;
        font-size: 18px;
    }
    .bgimgtext p:nth-of-type(2){
        font-weight: 400;
        font-size: 18px;
    }
    .btn-get{
        padding: 5px 5px;
    display: flex;
    flex-direction: row;
    }
    .membership span{
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        display: flex;
        width: 80vw;
        margin: auto;
    }
    
    .end-btn{
        padding: 14px 60px 8px 14px;
    }
    .faqbox
{
    max-width: 80vw;
    margin: auto;
}
.question h3
{
   
    font-weight: 700;
    font-size: 32px;
    width: 80vw;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    

}
}
@media screen and (max-width: 549px)
{
    .template img{
        width: 400px ;
    }
    .template video{
        width: 360px;
        top: 65px;
        right: 1px;
    }
    nav span img{
        width: 100px;
    }
    .faqbox
{
    max-width: 80vw;
    margin: auto;
}
.third video{
    width: 250px;
    position: absolute;
    top: 27px;
    right: 80px;


}
}
@media screen and (max-width: 418px)
{
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}



.email input {
    padding: 14px 100px 8px 14px;
}
.btn-get{
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
}
.faqbox
{
    max-width: 80vw;
    margin: auto;
}

}

